<% if(errorMessages.length > 0) {%>
    <% errorMessages.forEach(error=>{%>
        <div class="alert alert-warning alert-dismissible fade show mt-2" role="alert">
            <strong><%= error %></strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <%});%>

            <%}%>

                <% if(successMessages.length > 0) {%>
                    <% successMessages.forEach(error=>{%>
                        <div class="alert alert-success alert-dismissible fade show mt-2" role="alert">
                            <strong><%= error %></strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <%});%>

                            <%}%>