<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script
      type="text/javascript"
      charset="utf8"
      src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"
    ></script>
    <title>Data Request Form</title>
    <style>
      body {
        font-family: "Arial", sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f8f9fa;
        color: #495057;
      }

      header {
        background-color: #000;
        color: #ffffff;
        padding: 20px;
        font-size: 32px;
        position: relative;
        width: 100%;
      }

      .banner {
        background-color: #4285cb;
        height: 10px;
        width: 100%;
        position: relative;
        padding: 20px;
      }

      nav {
        background-color: #343a40;
        color: #ffffff;
        padding: 15px;
        width: 220px;
        position: absolute;
        height: 1120px;
        z-index: 1;
      }

      nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
      }

      nav a {
        text-decoration: none;
        color: #ffffff;
        font-size: 18px;
        display: block;
        padding: 10px;
        transition: background-color 0.3s;
      }

      nav a:hover {
        background-color: #1d2124;
      }

      section {
        margin-left: 240px;
        padding: 20px;
        min-height: calc(100vh - 20px);
      }

      form {
        width: 100%;
        margin: 0 auto;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      label {
        margin-top: 15px;
        display: block;
        font-size: 16px;
      }

      input[type="radio"] {
        margin-bottom: 15px;
        margin-top: 15px;
        display: block;
      }

      input[type="checkbox"] {
        margin-left: 5px;
      }

      input,
      select,
      checkbox {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        border: 1px solid #ced4da;
        border-radius: 4px;
        margin-bottom: 10px;
      }

      h2 {
        font-size: 24px;
        margin-bottom: 20px;
      }

      .data-preview-container {
        margin-top: 20px;
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        overflow: hidden;
      }

      #dataTable {
        width: 100%;
        border-collapse: collapse;
        margin: 0;
        padding: 0;
      }

      #dataTable th,
      #dataTable td {
        padding: 15px;
        text-align: left;
        border-bottom: 1px solid #dee2e6;
      }

      #dataTable thead {
        background-color: #729fcf;
        color: #ffffff;
      }

      #dataTable tbody tr:nth-child(even) {
        background-color: #f8f9fa;
      }

      #dataTable tbody tr:hover {
        background-color: #e9ecef;
      }

      .button-container {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
      }

      .button-container button {
        padding: 12px;
        width: 48%;
        box-sizing: border-box;
        cursor: pointer;
        border: none;
        border-radius: 4px;
        transition: background-color 0.3s;
        font-size: 16px;
      }

      .button-container button.submit {
        background-color: #007bff;
        color: #ffffff;
      }

      .button-container button.cancel {
        background-color: #6c757d;
        color: #ffffff;
      }

      .thin-banner {
        background-color: #007bff;
        height: 2px;
        margin-top: -2px;
      }

      #dataTable_filter {
        padding: 10px; /* Adjust the padding for the search bar how do you want it filtered?? */
      }
    </style>
  </head>

  <body>
    <header>Data Request Form</header>

    <div class="banner"></div>

    <nav>
      <ul>
        <li>
          <a href="#intro"><i class="uil uil-navigator"></i> Introduction</a>
        </li>
        <li>
          <a href="#self-cert-selection"
            ><i class="uil uil-upload"></i> Self Certification Selection</a
          >
        </li>
        <li>
          <a href="#self-cert-info"
            ><i class="uil uil-shield-check"></i> Self Certification
            Information</a
          >
        </li>
        <li>
          <a href="#data-reten"
            ><i class="uil uil-shield-check"></i> Data Retention & Storage</a
          >
        </li>
        <li>
          <a href="#geninfo"
            ><i class="uil uil-shield-check"></i> General Information</a
          >
        </li>
        <li>
          <a href="#privacy-statement"
            ><i class="uil uil-tag"></i> Privacy Statement</a
          >
        </li>
        <li>
          <a href="#submit"
            ><i class="uil uil-shield-check"></i> Agree & Submit</a
          >
        </li>
      </ul>

      <div class="thin-banner"></div>
    </nav>

    <section>
      <form>
        <h2>Introduction</h2>

        <p>
          Welcome to Cleveland Clinic's Data Request Form, promoting research,
          innovation, and improved patient outcomes through secure data use.
        </p>

        <label for="data-set-name">Name of dataset:</label>
        <input
          type="text"
          id="data-set-name"
          name="data-set-name"
          placeholder="Enter name of dataset"
          required
        />

        <label for="link-to-dataset">Link to dataset:</label>
        <input
          type="text"
          id="link-to-dataset"
          name="link-to-dataset"
          placeholder="Enter link to the dataset"
          required
          pattern="https?://.+"
        />

        <label for="link-to-terms">Link to terms:</label>
        <input
          type="text"
          id="link-to-terms"
          name="link-to-terms"
          placeholder="Enter link to terms of dataset"
          required
          pattern="https?://.+"
        />

        <label for="gitlab">GitLab namespace details:</label>
        <input
          type="text"
          id="gitlab"
          name="gitlab"
          placeholder="Provide the Gitlab namespace"
          required
          pattern="https?://.+"
        />

        <label for="country-residency"
          >Which profile is the workspace under?</label
        >
        <select id="country-residency" name="country-residency" required>
          <option disabled selected>Select country profile:</option>
          <option value="Profile">Profile</option>
        </select>

        <h2>Data Preview</h2>

        <div class="data-preview-container">
          <table id="dataTable" class="display">
            <thead>
              <tr>
                <th>Name</th>
                <th>Age</th>
                <th>City</th>
                <!-- Add more columns as needed -->
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>John Doe</td>
                <td>30</td>
                <td>New York</td>
                <!-- Add more rows with data -->
              </tr>
              <tr>
                <td>Jane Doe</td>
                <td>25</td>
                <td>Los Angeles</td>
                <!-- Add more rows with data -->
              </tr>
              <!-- Add more rows with data -->
            </tbody>
          </table>
        </div>

        <h2>Privacy Statement</h2>
        <p>
          Data Privacy Agreement Submit data request to Cleveland Clinic:
          Maintain confidentiality, security, and privacy; use responsibly;
          report breaches; violations may terminate access.
        </p>

        <div style="display: inline-block; margin-bottom: 10px" required>
          <input type="radio" id="derived-yes" name="derived" value="yes" />
          <label for="derived-yes" style="margin-left: 0px">I comply</label>
        </div>
      </form>

      <div class="button-container">
        <button class="submit" onclick="submitForm()">Submit</button>
        <button class="cancel" onclick="cancelForm()">Cancel</button>
      </div>

      <script>
        $(document).ready(function () {
          // Initialize DataTable
          $("#dataTable").DataTable({
            paging: false,
            searching: true,
            info: false,
            ordering: true,
            responsive: true,
            columnDefs: [{ orderable: false, targets: [0, 1, 2] }],
          });
        });

        function submitForm() {
          var complyRadio = document.getElementById("derived-yes");
          var dataSetName = document.getElementById("data-set-name");
          var linkToDataset = document.getElementById("link-to-dataset");
          var linkToTerms = document.getElementById("link-to-terms");
          var gitlab = document.getElementById("gitlab");

          if (
            complyRadio.checked &&
            dataSetName.value &&
            linkToDataset.value &&
            linkToTerms.value &&
            gitlab.value
          ) {
            window.location.href = "ibm/confirmation";
          } else {
            alert("Please fill out all required fields before submitting.");
          }
        }

        function cancelForm() {
          alert("Request canceled!");
        }
      </script>
    </section>
  </body>
</html>
